.i18n-list {
	list-style: none;
	padding: 5px 0;
}

.value{
	font-size: var(--vscode-font-size);
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.value.value-key{
	padding: 2px 0;
	background: #014645;
}

.re-query {
	display: block;
	border: none;
	margin: 0 auto;
}